name: Upload Release Assets

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: rocicorp
      TURBO_REMOTE_ONLY: true
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: 'npm'

      - run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: ls -al out/*.map

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            out/*.map
            out/*.d.ts
